@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FCFCFA;
    color: #1F1F1F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
